body{
    margin: 0;
    padding: 0;
    font-size: 18px;
 font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
background-image: url(img/pexels-photo-2088170.webp);
height: 100%;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
    padding: 10px 0;
    text-align: center;
    height: 180px;
}
.logo {
    float: left;
    margin-left: 20px;
}

img{
    mix-blend-mode: multiply;
}
h1{
    text-align: center;
    justify-content: center;
    display: grid; 
}
.hide{
   mix-blend-mode: multiply;
   height: 150px;  
}
a{
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0) 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    text-decoration: none ;
    transition: background-position 275ms ease;
}
a:hover{
    color: red;
    background-position: 0 100%;
}
li{
    display: inline-block;
    padding: 0px 10px 0px 0px;
}
ul{
    background-color: azure;
    padding: 15px;
}
.nav-item{
    font-weight: 700;
}
.navbar-nav{
    background-color: rgb(242, 233, 240);
}
nav{
    flex: 1;
    text-align: right;
}
.box{
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: 3;
}
.mas{
    display: inline-block;
    border: 2px solid  #FFFFFF;
    width: fit-content;
    height:fit-content;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 8px 8px 5px lightblue;
    padding: 18px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
footer{
    background-color: #1d1b1b;
}
.mas1 , .ft{
background-color: #1d1b1b;
color: #FFFFFF;
padding: 2px;
margin: 25px;
}

.ft{
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0) 50%, rgb(255, 0, 0) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    text-decoration: none ;
    transition: background-position 275ms ease;
}
